.burger-checkbox{
    display: none;
    position:absolute;
    top:30px;
    left:30px;
}
 .burger,
 .burger::before,
 .burger::after
  {
 display: block;
 height: 5px;
 width: 25px;
 background-color: black;
 cursor: pointer;
 }
.burger
{
    position: relative;
    top:30px;
    left:20px;
}
.burger::before
 {
    content: '';
    position: absolute;
    top: 7px;
}
.burger::after {
    content: '';
    position: absolute;
    top: -7px;
}
.burger:hover,
.burger:hover::before,
.burger:hover::after
{
        background: #F26C4F;
     }
     
.burger-checkbox:checked + .burger {
    transform: rotate(90deg);
}
.burger-checkbox:checked + .burger,
.burger-checkbox:checked + .burger::before,
.burger-checkbox:checked + .burger::after {
background: #F26C4F;
        }
.menu{
height: 100px;
width: 100px;
top:20px;
left:45px;
position: relative;
opacity: 0; 
background: #F26C4F90;
border: 1px solid #F26C4F90;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
text-align: center;
padding-right: 40px;
transition: opacity 1s ease
            }
        
.burger-checkbox:checked ~ .menu{
opacity: 1;
             }
li{
padding-top: 5px;
padding-bottom: 5px;
list-style-type: none;
        }
a{
text-decoration: none;
color: black;
font-size: 20px;
            }